*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  background: lighten($color-dark, 75%);
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-dark;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.main-nav {
  a {
    @extend .h2;
    text-decoration: none;
    padding: 50px 57px;
    color: white;
    font-size: 20px;

    &.active {
      //background: lighten($color-dark, 75%);
      color: rgb(141, 9, 31);
    }
  }
}

div[class*="wrapper"] {
  background-color: black;
  width: 100%;
  height: 100%;
}

.non-visible {
  display: none;
}

.visible {
  display: block;
}

.search-song {
  color: black;
  background-color: black;
}

input,
select,
textarea {
  background-color: black;
  color: #ff0000;
  border: orange;
}

.categoriesWrapper {
  display: flex;

}

#pages>* {
  display: none;
}

.categories {
  //margin: 0 auto;
  z-index: 20;

}


.categoryHighlight {
  color: red;
}

.category {
  margin-left: 2px;
}
.songElementWrapper {
  display: flex;
  flex-direction: column;
}

.audioElement {
  margin: 0 auto;
}

.category {
  color: white;
}

.search-wrapper {
  width: 100%;
}

.inputWrapper {
  display: flex;
  //flex-direction: column;
}

.inputWrapperInner {
  margin: 0 auto;
  //margin-top: 70px;
}

.discoverOutsideWrapper {
  display: flex;
}

.discover-wrapper {
  margin: 0 auto;
}

.home-wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.categoriesWrapper {
  margin: 0 auto;
  margin-bottom: 25px;
}

.categoryHighlight {
  color: red;
  font-weight: bold;
}

.headerSearch {
  text-align: center;
  padding: 0;
  font-size: 37px;
  font-weight: bold;
  color: rgb(184, 182, 182);
  padding: 20px;
  padding-top: 40px;
  letter-spacing: 8px;
}

.inputWrapper b {
  display: flex;
  justify-content: center;
  text-align: center;
}

.h2, .main-nav a {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

input[type=text] {
  //width: 100%;
  background-color: white;
  border-color: white;
  padding: 16px 20px;
  margin: 8px 0;
  margin-right: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  color: black;
  z-index: 24;
}

input[type=text]:focus{
  border: none;
  border-color: transparent;
  outline: none;
}

.inputWrapperInner span {
  font-size: 20px;
  //z-index: 24;
  color: grey;
  font-weight: bold;
  margin-right: 10px;
 
}

.whiteComma {
  color: white;
}

select {
  background-color: white;
  border-color: white;
  padding: 16px 20px;
  margin: 8px 0;
  margin-right: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  color: black;
  z-index: 24;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../../Iconsmind-Outline-Music-Note.ico) 96% / 15% no-repeat #EEE; //url(https://stackoverflow.com/favicon.ico) 96% / 15% no-repeat #EEE;
}
  
select:focus {
  border: none;
  border-color: transparent;
  outline: none;
}

.button-wrapper {
  display: flex;
}

.button-wrapper button {
  margin: 0 auto;
}

// .margin {
//   margin: 0 auto;
// }
// #search1 {
//   width: 100%;     
// }