*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: lighten($color-dark, 75%);
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-dark;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.main-nav {
  a {
    @extend .h2;
    text-decoration: none;
    color: white;
    
    &.active {
      background: lighten($color-dark, 75%);
      color: pink;
    }
  }
}

div[class*="wrapper"] {
  background-color: black;
  width: 100%;
  height: 100%;
}

.non-visible {
  display: none;
}

.visible {
  display: block;
}

.search-song {
  color: black;
  background-color: black;
}

input, select, textarea{
  background-color: black;
  color: #ff0000;
  border: orange;
}

.categories {
  z-index: 20;
}

.categoryHighlight {
  color: red; 
}