.header {
  background-image: url(../../images/background.jpg);
  background-position: center;
  background-size: cover;
  //height: 100vh;
  position: relative;
}

.header__container {
  text-align: center;
  align-items: center;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  padding-top: 300px;
}

.header__container b:not(:first-of-type) {
  line-height: 3vh;
  letter-spacing: 7px;
}

.header:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(252, 89, 89, 0);
  background-image: linear-gradient(
    180deg,
    rgba(252, 89, 89, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__titlesubtitle {
  display: flex;
  flex-direction: column;
}

.main-nav {
  background-color: rgba(0, 0, 0, 1);
  z-index: 4;
}

.main-nav-container {
  width: 200px;
  margin: 0 auto;
  z-index: 4;
}

.discover-wrapper {
  color: white;
}

#home,
#search,
#discover [class*="wrapper"] {
  color: white;
}

.header__titlesubtitle {
  z-index: 2;
}

.main-text {
  font-size: 100px;
  //padding-top: 200px;
  letter-spacing: 37px;
  font-weight: bold;
}
